html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Yeon Sung', cursive;;

    
  }

  body{
    background-color: #87ACA3;
    margin: 0px;
    width: 576px;
  }

  h1{
    text-align: center;
    
  }

  p{
    text-align: center;
  }
  .container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
      grid-template-areas: 
      "header  header  header  header  header  header  header  header  header  header  header  header"
      "    .   brand   brand   brand   brand   brand   brand   brand   brand   brand   brand        ."
      "    .   global  global  global  global  global  global  tools   tools   tools   tools    .    "
      "hero    hero    hero    hero    hero    hero    hero    hero    hero    hero    hero    hero  "
      ".       call    call    call    call    call    call    call    call    call    call     .    "
      "body    body    body    body    body    body    body    body    body    body    body    body  "
      ".       article article article article article article article article article article      ."
      ".       advert  advert  advert  advert  advert  advert  advert  advert  advert  advert    .   "
      ".       listing listing listing listing listing listing listing listing listing listing    .  "
      " .         .       .      .        .        .     .       .        .    sidebar sidebar sidebar"
      ".          .        .    .         .        .     .       .        .    sidef   sidef   sidef  "
      "footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer";
    
      
  }

.child{
margin-bottom: 5px;
}

.child01{
    grid-area: header;
    background-color: coral;
    
}

.child02{
  grid-area: brand;
  background-color: darkgoldenrod;
}

.child03{
  grid-area: global; 
  background-color: darkolivegreen;
  margin-right: 5px;
}

.child04{
  grid-area: tools; 
  background-color: darkorchid;
}

.child05{
  grid-area: hero; 
  background-color: rgb(102, 30, 1);
}

.child06{
  grid-area: call;
  background-color: forestgreen;
}

.child07{
  grid-area: body;
  background-color: khaki;
}

.child08{
  grid-area: article;
  background-color: lightsalmon;
}

.child09{
  grid-area: advert;
  background-color: mediumblue;
}

.child10{
  grid-area: listing ;
  background-color: orange;
}

.child11{
  grid-area: sidebar;
  display: none;
  background-color: red;
}

.child12{
  grid-area: sidef;
  display: none;
  background-color: yellow;
}

.child13{
  grid-area: footer;
  background-color: #456FFF;
}



/*ir ideja body backgroudn color un child01 background color uzlikt vienadas lai ta heading dala saplust*/